body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    align-items: center;
}
h1 {
    margin-top: 30px;
    font-size: 60px;
    font-style: italic;
}
.containment {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100vw;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr );
    grid-template-rows: repeat(16, 1fr);
    grid-gap:1px;
    width: 700px;
    height: 700px;
    justify-content: center;
    margin-top: 10px;

   
}


.buttons {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    height: 60px;
    width: 150px;
    border-radius: 10px;
}

