body {
    display: flex;
    justify-content: space-evenly;

}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr );
    grid-template-rows: repeat(16, 1fr);
    grid-gap:1px;
    width: 700px;
    height: 700px;
    justify-content: center;
    margin-top: 100px;

   
}


.box {
    background-color: lightslategray;


}

.boxActive {
    background-color: black;
}

.buttons {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}